#contato{
    background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0px);
}

.contato{
display: grid;
grid-template-columns: 5fr 7fr;
padding-top: 0 !important;
}
.dados-contato, .contato-formulario{
    padding: 50px 50px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
}
.dados-contato{
    background: var(--cor-12);
    border-radius: 5px 0 0 5px;
}
.contato-formulario{
    border-radius: 0 5px 5px 0;
    background: var(--cor-0);
}

.dados-contato h2{
    margin-bottom: 50px;
    font-size: 1.2rem;
    font-weight: 400;
}
.endereco{
    font-size: 1rem;
    font-weight: 400;
}

.endereco p{
    margin-bottom: 10px;
    padding: 0 0 0 30px;
}
.endereco p:first-child{
    display: flex;
    padding: 0;
}
.endereco p:first-child::before{
    content: "";
    display: inline-block;
    background-image: url(../img/icones/local.svg);
    background-repeat: no-repeat;
    width: 17px;
    margin-right: 13px;
}
.contatos-meios{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.contatos-meios a{
    color: var(--cor-4);
    font-size: 1rem;
    font-weight: 400;
    padding: 0 0 0 30px;
    margin-bottom: 10px;
}

.contatos-meios a:first-child{
    display: flex;
    padding: 0;
}
.contatos-meios a:first-child::before{
    content: "";
    display: inline-block;
    background-image: url(../img/icones/email.svg);
    background-repeat: no-repeat;
    width: 20px;
    margin-right: 10px;
}

.contatos-meios a:last-child{
    margin-top: 20px;
    display: flex;
    padding: 0;
}

.contatos-meios a:last-child::before{
    content: "";
    display: inline-block;
    background-image: url(../img/icones/telefone.svg);
    background-repeat: no-repeat;
    width: 20px;
    margin-right: 9px;
}
.dados-contato .redesSociais{
    margin-top: 40px;
    margin-left: 40px;
}

.LojasLocais{
    margin-top: 50px !important;
    margin-bottom: 100px !important;
}
.LojasLocais h2{
    margin-bottom: 50px;
}
.local-lojas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.contentLocal{
    background-color: var(--cor-0);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);

}

.contentLocal h3{
    font-size: 2rem;
    margin-bottom: 25px;
}
.content-dados{
    padding: 30px;
}
.info-dados{
    display: flex;
    gap: 50px;
    font-size: 1rem;
    flex-wrap: wrap;
}
.info-dados p{
    margin-bottom: 10px;
    color: var(--cor-7);
}
.info-dados div{
    position: relative;
}
.info-dados div::before{
    content: "";
    position: absolute;
    left: -10px;
    height: 50px;
    width: 2px;
    background-color: var(--cor-4);
}
.content-dados > span{
    display: block;
    margin-top: 30px;
    font-size: 1.15rem;
    color: var(--cor-9);
    display: flex;
    gap: 10px;
}
.content-dados > span::before{
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(../img/icones/horario.svg);
}
@media (max-width: 800px){
  .contato{
      grid-template-columns: 1fr;
  }
}
@media (max-width: 700px){
    .local-lojas{
        grid-template-columns: 1fr;
    }
    .form button{
        font-size: 1rem !important;
        white-space: nowrap;
    }
}
@media (max-width: 480px){
    .LojasLocais h2{
        font-size: 2.4rem;
    }
}

@media (max-width: 550px){
   .form div:nth-child(1){
       grid-column: 1/-1;
   }
   .form div:nth-child(2){
    grid-column: 1/-1;
}
}