.nimbus-title p{
    font-size: 2rem;
    font-weight: 100;
}

.bicicleta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
    padding-top: 60px;
    padding-bottom: 60px;
}
.bike-img{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.bike-img img{
    flex: 1;
    min-width: 200px;
}
.bike-img img:first-child{
    min-width: 100%;
}

.bicicleta-conteudo p{
    margin-bottom: 32px;
    font: 400 1.5rem/1.5 "Roboto", sans-serif;
}

.bicicleta-comprar{
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;

    justify-items: start;
    gap: 8px 12px; 
}

.bicicleta-comprar span{
    display: flex;

    gap: 8px;
    align-items: center;
    margin-top: 8px;
    background-color: var(--cor-12);
    padding: 5px 10px;
    border-radius: 4px;
}
.bicicleta-conteudo h2{
    text-transform: uppercase;
    margin-top: 49px;
    margin-bottom: 29px;

}
.bicicletas-informacoes ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: var(--cor-12);
    padding: 40px;
    border-radius: 4px;
}
.bicicletas-informacoes ul li{
    color: var(--cor-5);
}
.bicicletas-informacoes ul li img{
    margin-bottom: 8px;
}
.bicicletas-informacoes ul li h3{
    margin-bottom: 8px;
    font: 400 1.355rem/1.35 "Poppins", sans-serif;
}
.bicicletas-informacoes ul li p{
    color: var(--cor-7);
    font-size: 1.1rem;
}
.informacoes-ficha{
    background-color: var(--cor-12);
    padding: 20px;
    border-radius: 5px;
}
.informacoes-ficha ul li{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-bottom: 1px solid var(--cor-11);
}   
.informacoes-ficha ul li:last-child{
    border: none;
}
.informacoes-ficha ul li span{
    color: var(--cor-8);
}
.chamada-seguro-bg{
    background-color: var(--cor-11);
    box-shadow: inset 0 120px var(--cor-0), inset 0 -120px var(--cor-12);
}
.chamada-seguro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.img-chamada-seguro img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.conteudo-chamada-seguro{
    padding-top: 180px;
    padding-bottom: 180px;
}
.conteudo-chamada-seguro h2{
    margin-bottom: 40px;
}
.conteudo-chamada-seguro p{
    font-size: 1.5rem;
    margin-bottom: 30px;
}



@media(max-width:800px){
    .bicicleta{
        grid-template-columns: 1fr;
    }
    .title-bg .title-content{
        padding: 30px 30px !important;
    }
    .chamada-seguro{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .img-chamada-seguro img{
        height: 300px !important;
        width: 100%;
    }
    .conteudo-chamada-seguro{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .conteudo-chamada-seguro h2{
        font-size: 3.3rem;
        margin-top: 20px !important;
    }
    .chamada-seguro-bg{
        box-shadow: inset 0 120px var(--cor-0) !important;
    }
    #bikeslist ul li h3{
        font-size: 1.7rem;
    }
  
}

@media(max-width:550px){
.bicicletas-informacoes ul {
    grid-template-columns: 1fr;
}
.bicicleta-comprar{
    grid-template-columns: 1fr;
}
.conteudo-chamada-seguro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
.conteudo-chamada-seguro p{
    font-size: 1rem;
}
}