@media (max-width: 800px){
    .menus a{
        background: var(--cor-11);
        padding: 10px 10px !important;
        border-radius: 4px;
    }
}



@media (max-width: 600px){
    .menus{
        gap: 10px;
        justify-content: center;
    }
    .menus a{
        font-size: 0.9rem !important;
    }
}

@media (max-width: 450px){
    .header-menu{
        justify-content: center;
    }
}