@media (max-width: 1200px){
    .conteudo-introducao h1{
        font-size: 3rem;
    }
    .conteudo-tecnologia h2{
        font-size: 3rem;
    }
}
@media (max-width: 800px){
    .menus a{
        background: var(--cor-11);
        padding: 10px 10px !important;
        border-radius: 4px;
        transition: all 0.5s;
    }
    .menus a:hover{
        background: var(--cor-10);
    }
    .menus a:after{
        display: none !important;
    }
    /* -------------------------------------------- */
    .introducao{
        grid-template-columns: 1fr;
    }
    .conteudo-introducao h1{
        margin-bottom: 16px;
        font-size: 2rem;
    }
    .conteudo-introducao {
        padding-bottom: 50px;
        text-align: center;
    }
    .img-introducao img{
        height: 300px;
        width: 100%;
    }
    /* ------------------------------------------- */
    .bicicleta-lista{
        padding: 40px 0;
    }
    .bicicleta-lista ul{
        gap: 20px;
    }
    /* ------------------------------------------- */
    .bg-tech{
        box-shadow: initial;
    }
    .tecnologia-content{
        grid-template-columns: 1fr;
        
    }
    .conteudo-tecnologia{
        padding-top: 60px;
        padding-bottom: 60px;

    }
    .conteudo-tecnologia .escolha{
        margin-top: 30px;
    }
    .img-tech img{
        display: none;
    }
    .conteudo-tecnologia h2{
        font-size: 2rem;
    }
  
  

}



@media (max-width: 600px){
    .menus{
        gap: 10px;
        justify-content: center;
    }
    .menus a{
        font-size: 0.9rem !important;
    }
}

@media (max-width: 480px){
    .header-menu{
        justify-content: center;
    }
    .conteudo-tecnologia > span{
        font-size: 1rem;
    }
    .conteudo-tecnologia h2{
        font-size: 1.5rem;
    }
    .conteudo-tecnologia .escolha{
        margin-top: 30px;
        font-size: 20px;
    }
    .especificacoes{
        flex-wrap: wrap;
    }
    
}