.header{
    background-color: var(--cor-12);

}
.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.menus{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.menus li a{
    color: var(--cor-0);
    font-size: 1.3rem;
    display: inline-block;
    padding: 15px 5px;
}