.header{
    background-color: var(--cor-12);

}
.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.menus{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.menus li a{
    color: var(--cor-0);
    display: inline-block;
    padding: 15px 5px;
    position: relative;
  
}
.menus li a::after{
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: var(--cor-p1);
    transition: all 0.5s;
    position: absolute ;

}
.menus li a:hover::after{
    width: 100%;
}
.introducao-bg{
    background-color: var(--cor-12);
    color: var(--cor-0);
    box-shadow: inset 0 -120px  var(--cor-0) ;

}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
}

.conteudo-introducao{
   align-self: end;
   padding-bottom: 200px;
}
.conteudo-introducao h1{
    margin-bottom: 35px;
}

.conteudo-introducao p{
    margin-bottom: 20px;
    color: var(--cor-5);
}

.img-introducao img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.bicicleta-lista{
    padding: 60px 0px;
}
.bicicleta-lista a{
    display: block;
}


.bicicleta-lista h2{
    margin-bottom: 30px;
}

.bicicleta-lista ul{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 40px;
    padding: 0 20px;
    overflow-x: auto;
}
.bicicleta-lista ul li{
    min-width: 280px;
}
.bicicleta-lista ul li h3{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.bicicleta-lista ul li h3::before{
    content: "";
    display: inline-block;
    height: 8px;
    width: 12px;
    margin-right: 8px;
    background-color: var(--cor-p1);
    transition: width 0.2s;
}
.bicicleta-lista ul li a:hover h3::before{
    width: 25px;
}
.bicicleta-lista ul li span{
    padding-left: 20px;
}

.bg-tech{
    background-color: var(--cor-11);
    color: #fff;
    box-shadow: inset 0 -90px var(--cor-0),inset 0 90px var(--cor-0);

}
.tecnologia-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
}
.conteudo-tecnologia{
    align-self: center;
    padding-top: 160px;
    padding-bottom: 160px;
}
.conteudo-tecnologia span{
    color: var(--cor-5);
    text-transform: uppercase;
}
.conteudo-tecnologia h2{
    margin-top: 20px;
}
.conteudo-tecnologia h2 span{
    color: var(--cor-p1);
}
.conteudo-tecnologia .text-tech{
    color: var(--cor-5);
    margin-top: 30px;
    margin-bottom: 10px;
}

 .escolha{
    display: inline-block;
    color: var(--cor-p1);
    text-transform: uppercase;
}
.escolha::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: currentColor;
}
 .escolha:hover {
    color: #fff;
}
.especificacoes{
    display: flex;
    gap: 25px;
    margin-top: 80px;
}

.especificacoes p{
    color: var(--cor-5);
    margin-top: 10px;
}

.especificacoes h3{
    margin-top: 10px;
    max-width: max-content;
}
.img-tech img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
}