.header{
    background-color: var(--cor-12);

}
.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.menus{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.menus li a{
    color: var(--cor-0);
    display: inline-block;
    padding: 15px 5px;
    position: relative;
  
}
.menus li a::after{
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: var(--cor-p1);
    transition: all 0.5s;
    position: absolute ;

}
.menus li a:hover::after{
    width: 100%;
}
.introducao-bg{
    background-color: var(--cor-12);
    color: var(--cor-0);
    box-shadow: inset 0 -120px  var(--cor-0) ;

}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
}

.conteudo-introducao{
   align-self: end;
   padding-bottom: 200px;
}
.conteudo-introducao h1{
    margin-bottom: 35px;
}

.conteudo-introducao p{
    margin-bottom: 20px;
    color: var(--cor-5);
}

.img-introducao img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.bicicleta-lista{
    padding: 60px 0px;
}
.bicicleta-lista a{
    display: block;
}


.bicicleta-lista h2{
    margin-bottom: 30px;
}

.bicicleta-lista ul{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 40px;
    padding: 0 20px;
    overflow-x: auto;
}
.bicicleta-lista ul li{
    min-width: 280px;
}
.bicicleta-lista ul li h3{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.bicicleta-lista ul li h3::before{
    content: "";
    display: inline-block;
    height: 8px;
    width: 12px;
    margin-right: 8px;
    background-color: var(--cor-p1);
    transition: width 0.2s;
}
.bicicleta-lista ul li a:hover h3::before{
    width: 25px;
}
.bicicleta-lista ul li span{
    padding-left: 20px;
}

.bg-tech{
    background-color: var(--cor-11);
    color: #fff;
    box-shadow: inset 0 -90px var(--cor-0),inset 0 90px var(--cor-0);

}
.tecnologia-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
}
.conteudo-tecnologia{
    align-self: center;
    padding-top: 160px;
    padding-bottom: 160px;
}
.conteudo-tecnologia span{
    color: var(--cor-5);
    text-transform: uppercase;
}
.conteudo-tecnologia h2{
    margin-top: 20px;
}
.conteudo-tecnologia h2 span{
    color: var(--cor-p1);
}
.conteudo-tecnologia .text-tech{
    color: var(--cor-5);
    margin-top: 30px;
    margin-bottom: 10px;
}

 .escolha{
    display: inline-block;
    color: var(--cor-p1);
    text-transform: uppercase;
}
.escolha::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: currentColor;
}
 .escolha:hover {
    color: #fff;
}
.especificacoes{
    display: flex;
    gap: 25px;
    margin-top: 80px;
}

.especificacoes p{
    color: var(--cor-5);
    margin-top: 10px;
}

.especificacoes h3{
    margin-top: 10px;
    max-width: max-content;
}
.img-tech img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
}
/* -------------------------------------------- */
.parceiros{
    padding: 50px 0px;
}
.parceiros h2{
    margin-bottom: 60px;
}
.parceiros ul{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.parceiros ul li{
    padding: 30px;
    display: flex;
    border-left: 2px solid var(--cor-2);
}
.parceiros ul li img{
    margin: auto;
}

.parceiros ul li:first-child{
    border: none;
}
.parceiros ul li:nth-child(5){
    border: none;

}

.parceiros ul li:nth-child(n+5){
    border-top: 2px solid var(--cor-2);
}
/* -------------------------------------- */

.depoimento-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-p1);

}
.depoimento{
    align-self: center;
    margin: 0 auto;
    padding: 40px 50px 30px 80px;
}
.depoimento p{
    max-width: 30ch;
    font-family:  serif;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 32px;
    position: relative;
    font-size: 2.2rem;
    line-height: 1.3;
}
.img-depoimento img{
    height: 100%;
    object-fit: cover;
}
.depoimento p::before,
.depoimento p::after{
    font-size: 5rem;
    color: var(--cor-p2);
    position: absolute;
}

.depoimento p::before{
    content: '“';
    left: -50px;
    top: -20px;
}
.depoimento p::after{
    content: '”';
}
.depoimento > span{
    font-size: 23px;
}
/* ------------------------------------- */
.bg-seguros{
    background-color: var(--cor-11);
    color: var(--cor-0);
}

.bg-seguros h2{
    padding-top: 70px;
}
.seguros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 50px;
    align-items: center;
}

.seguro-item{
    background-color: var(--cor-12);
    padding: 32px 32px 32px 60px;
    border-radius: 4px;
}
.plano-preco{
    display: flex;
    justify-content: space-between;
}
.plano-preco > h3{
    color: var(--cor-5);
    text-transform: uppercase;
}
.preco{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.preco > span{
    font-size: 0.8rem;
    color: var(--cor-5);
}
.seguro-item ul{
    margin-top: 50px;
}
.seguro-item ul li{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    font-size: 1.2rem;
}
.seguro-item ul li img{
    width: 13px;
    height: 9px;
}
.seguro-item button{
    background: var(--cor-10) !important;
    color: var(--cor-0);
    transition: 0.5s;
}
.seguro-item button:hover{
    background: var(--cor-9) !important;
}
.ouro .plano-preco > h3{
    color: var(--cor-p1);
}
.ouro button{
    background: var(--cor-p1) !important;
    color: var(--cor-11);
}
.ouro button:hover{
    background: var(--cor-p3) !important;
}
/* ---------------------------------------------------- */
.footer-bg{
    background-color: var(--cor-12);
}
.footer{
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding-top: 80px !important;
}
.footer-contato, .footer-informacoes{
    color: var(--cor-0);
}
.redesSociais{
    display: flex;
    gap: 30px;
}
.footer-contato > ul li,.footer-contato > ul li a  {
    color: var(--cor-5);
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.footer-contato h3, .footer-informacoes h3{
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3rem;
}
.footer-contato .contato li:nth-child(even)::after{
    content: "";
    display: block;
    max-width: 360px;
    height: 2px;
    background-color: var(--cor-11);
    margin-top: 16px;
}
.footer-informacoes ul li{
    margin-bottom: 20px;
    
}
.footer-informacoes ul a {
    color: var(--cor-5);
    font-size: 1.3rem;
}
.footer-informacoes ul a:hover, .footer-contato > ul li a:hover {
    color: var(--cor-0);
}

.footer-bg >p{
    color: var(--cor-5);
    padding-bottom: 60px;
    font-size: 1.125rem;

}